public-hoist-pattern[]=eslint
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=czg

strict-peer-dependencies=false
ignore-workspace-root-check=true
include-workspace-root=true
